@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans');

$background-color: hsl(220, 10%, 25%);
$border-color: hsl(0, 35%, 70%);
$box-shadow: 0 0 10px black;
$color: hsl(207, 10%, 95%);
$link-color: hsl(220, 10%, 80%);
$menu-background-color: hsl(0, 35%, 50%);
$menu-color: hsl(220, 0%, 95%);
$menu-height: 2em;
$post-background-color: hsl(220, 0%, 95%);
$post-color: hsl(220, 10%, 25%);
$post-link-color: hsl(220, 10%, 50%);

html {
    @keyframes fade-in {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    animation: fade-in 500ms;
    background-color: $background-color;
    color: $color;
    font-family: 'Fira Sans', sans-serif;
    justify-content: center;
}

#main-nav {
    background-color: $menu-background-color;
    box-shadow: $box-shadow;
    display: flex;
    height: $menu-height;
    justify-content: center;
    position: fixed;
    top: 0; right: 0; left: 0;
    width: 100%;
    z-index: 1;

    a {
        background: $menu-background-color;
        color: $menu-color;
        font-weight: bold;
        line-height: $menu-height;
        padding-left: 1em;
        padding-right: 1em;
        text-decoration: none;
        vertical-align: middle;

        &:hover {
            @keyframes main-nav-a-hover {
                from {
                    background: $menu-background-color;
                    color: $menu-color;
                }
                to {
                    background: $menu-color;
                    color: $menu-background-color;
                }
            }

            animation: main-nav-a-hover 350ms;
            background: $menu-color;
            color: $menu-background-color;
        }
    }
}

#content {
    margin-top: $menu-height + 1.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;

    .gallery-item {
        @extend .post;
        display: inline-block;

        img {
            height: 128px;
            width: 128px;
            image-rendering: pixelated;
        }
    }

    .license {
        padding-top: 2em;
    }

    .post {
        background-color: $post-background-color;
        box-shadow: $box-shadow;
        border-left: 6px solid $border-color;
        border-radius: 5px;
        color: $post-color;
        margin-top: 1.5em;
        padding: 1em;


        > header {
            border-bottom: 2px dotted $post-color;

            h1 {
                font-size: 2.25em;
                margin-top: 0;
            }
        }

        > footer {
            padding-top: .75em;
        }

        .note {
            font-size: x-small;

            &::after {
                content: ')';
            }

            &::before {
                content: '(';
            }
        }

        .summary {
            font-size: small;
            font-style: italic;
        }

        a {
            color: $post-link-color;
        }
    }

    a {
        color: $link-color;
        &:hover {
            color: inherit;
        }
    }

    nav a::before {
        content: '\25b8 ';
    }

    pre, code, kbd {
        font-family: 'Fira Mono', monospace;
    }

    form {
        @extend .post;

        input {
            font-family: 'Fira Sans', sans-serif;

            &[name=title] {
                font-size: 2em;
            }
        }

        textarea {
            font-family: 'Fira Sans', sans-serif;
            width: 100%;

            &[name=summary] {
                @extend .summary;
            }

            &[name=body] {
                font-family: 'Fira Mono', monospace;
                font-size: 1em;
            }
        }
    }
}
